@import "media_for_ass.css";

@media all and (max-width: 1150px) {
    .fancybox a img {
        width: 18%;
        height: 143px;
    }
}

@media all and (max-width: 840px) {
    .fancybox a img {
        height: 110px !important;
    }

    .apartment a:nth-child(1), .apartment a:nth-child(2) {
        padding: 5px !important;
    }
}

@media all and (max-width: 565px) {
    .fancybox a img {
        height: 70px !important;
    }

    .apartment {
        margin-top: 10px !important;
    }

    .fancybox {
        margin: 7px 0;
    }
}

@media all and (max-width: 390px) {
    .fancybox a img {
        height: 55px !important;
    }
}